

@media (max-width: 768px) {

    body {
        flex-direction: column;
    }

    .header {
        flex-direction: column;
        text-align: center;
        padding: 10px 0;
    }

    .header-text {
        font-size: 2.5rem;
        transform: rotate(0deg);
        padding: 5px 10px;
        text-wrap: balance;
    }

    .conteiner {
        flex-direction: column;
        width: 100%;
        padding: 0 10px;
    }

    nav {
        margin: 0 auto 20px auto;
        width: 100%;
    }

    nav > ul {
        width: 100%;
    }

    nav > ul li {
        height: 45px;
        font-size: 1.1rem;
    }

    .content {
        margin-right: 0;
        padding: 10px 15px;
        width: 100%;
    }

    footer {
        height: auto;
        padding: 10px 0;
        text-align: center;
    }
}


@media (max-width: 480px) {

    .header-text {
        font-size: 2rem;
    }

    nav > ul li {
        height: 40px;
        font-size: 1rem;
    }

    .content {
        padding: 10px;
    }
}
